@file_header
#ifndef LCF_%(typeupper)s_CHUNKS_H
#define LCF_%(typeupper)s_CHUNKS_H

/**
 * %(typeupper)s Reader namespace.
 */
namespace %(typeupper)s_Reader {
@header
	struct Chunk%(structname)s {
		enum Index {
@tmpl
			/** %(comment)s */
			%(fname)s%(tabs)s= 0x%(code)02X%(comma)s
@footer
		};
	};
@file_footer
}

#endif
