{% include "copyright.tmpl" %}
/*
 * Headers
 */
#include "{{ type }}_reader.h"
#include "{{ type }}_chunks.h"
#include "reader_struct.h"


// Read {{ struct_name }}.

template <>
char const* const Flags<RPG::{{ struct_name }}::Flags>::name = "{{ struct_name }}_Flags";

template <>
decltype(Flags<RPG::{{ struct_name }}::Flags>::flag_names) Flags<RPG::{{ struct_name }}::Flags>::flag_names = {
{%- for flag in flags[struct_name] %}
	"{{ flag.field }}"{%- if not loop.last %}, {%- endif %}
{%- endfor %}
};

template <>
decltype(Flags<RPG::{{ struct_name }}::Flags>::flags_is2k3) Flags<RPG::{{ struct_name }}::Flags>::flags_is2k3 = {
{%- for flag in flags[struct_name] %}
	{{ flag.is2k3 }}{%- if not loop.last %}, {%- endif %}
{%- endfor %}
};

