@header
// Headers
#include "%(filetype)s_reader.h"
#include "%(filetype)s_chunks.h"
#include "reader_struct.h"

// Read %(structname)s.

#define LCF_CHUNK_SUFFIX %(typeupper)s_Reader
#define LCF_CURRENT_STRUCT %(structname)s

LCF_STRUCT_FIELDS_BEGIN()
@size_tmpl
	LCF_STRUCT_SIZE_FIELD(%(ftype)s, %(fname)s),
@typed_tmpl
	LCF_STRUCT_TYPED_FIELD(%(ftype)s, %(fname)s),
@footer
LCF_STRUCT_FIELDS_END()

#undef LCF_CURRENT_STRUCT
#undef LCF_CHUNK_SUFFIX
