{% include "copyright.tmpl" %}
// Headers
#include "{{ type }}_reader.h"
#include "{{ type }}_chunks.h"
#include "reader_struct.h"

// Read {{ struct_name }}.

#define LCF_CHUNK_SUFFIX {{ type|upper }}_Reader
#define LCF_CURRENT_STRUCT {{ struct_name }}

LCF_STRUCT_FIELDS_BEGIN()
{%- for field in fields[struct_name]|field_is_used %}
	LCF_STRUCT_{% if field.size %}SIZE{% else %}TYPED{% endif %}_FIELD({{ field.type|cpp_type }}, {{ field.name }}),
{%- endfor %}
LCF_STRUCT_FIELDS_END()

#undef LCF_CURRENT_STRUCT
#undef LCF_CHUNK_SUFFIX
