{% include "copyright.tmpl" %}
// Headers
#include "lcf/rpg_{{ filename }}.h"
{% if struct_name in constants -%}
{%- for name, type, value, comment in constants[struct_name] %}
constexpr {{ type }} rpg::{{ struct_name }}::{{ name }};
{%- endfor %}
{%- endif %}
{% if struct_name is needs_ctor -%}
/**
 * Constructor.
 */
rpg::{{ struct_name }}::{{ struct_name }}() {
	Init();
}
{%- endif %}
