bin/
builds/cmake/liblcf.a
builds/cmake/test_time_stamp
builds/vs20*/Debug*
builds/vs20*/Release*
builds/vs20*/*.user
builds/vs20*/x64/
doc/
CMakeCache.txt
CMakeFiles
*.cmake
Makefile
lib/
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
src/.deps/
src/Makefile.in
src/liblcf.a
src/*.o
src/generated/.deps/
src/generated/.dirstamp
src/generated/*.o
stamp-h1
build/
*~
/builds/qt/*.pdb
/builds/qt/*.user
/builds/qt/*
/builds/qt/*.Debug
/builds/qt/*.Release
/builds/qt/*.Release
/builds/qt/*.pdb
/builds/qt/*.user
/builds/qt/*
/builds/qt/*.Debug
/builds/qt/release
/builds/qt/debug
