/autom4te.cache/
bin/
/build/
/builds/qt/
!/builds/qt/liblcf.pro
/doc/
/lib/
/liblcf-*/
/m4/
/tests/time_stamp*
.deps/
.libs/
aclocal.m4
builds/cmake/test_time_stamp
builds/liblcf.pc
builds/vs20*/Debug*
builds/vs20*/Release*
builds/vs20*/*.user
builds/vs20*/x64/
CMakeCache.txt
CMakeFiles
Makefile
Makefile.in
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
test-driver
test-suite.log
*~
*.cmake
*.a
*.la
*.o
*.lo
*.tar.gz
.dirstamp
